body {
    font-family: 'Open Sans', sans-serif;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 0;
    background-color: #00cbad;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #C9C9C9;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    border: none;
    float: right
}

#header {
    transition: margin-left .5s;
    padding: 20px;
    background: #ff8f29;
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,0.5); */
}

#header img {
    float: left;
    width: 50px;
    height: 50px;
}

#header h1 {
    font-size: 2.1em;
    font-weight: 800;
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
}

.material-symbols-outlined {
    color: white;
    font-size: 38px;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 150,
        'opsz' 48
}

#main {
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
}

#banner {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#sub_banner {
    color: gray;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -110px;
}

.login {
    padding: 10px 80px;
    margin-bottom: 30px;
    /* background-color: #b3f0ff;
    border-radius: 30px;
    display: block;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: white 1px 2px; */
}

.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

.login-div-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 120px;
}

.login {
    padding: 10px 80px;
    margin-bottom: 30px;
    /* background-color: #b3f0ff;
    border-radius: 30px;
    display: block;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: white 1px 2px; */
}

/* .login:hover {
    background-color: rgb(230, 229, 229);
} */

#ring_float img {
    width: "50px";
    margin-right: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
  }

.material-symbols-rounded {
    color: #7A7A79;
    font-size: 38px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 150,
    'opsz' 48
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#E8E8E6 !important;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
}

.footer :hover {
   color:#ff8f29;
   font-variation-settings:
   'FILL' 1,
   'wght' 400,
   'GRAD' 150,
   'opsz' 48
}

.cta_btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border-radius: 100px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #2999FF;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}

.cta_btn:hover {
    background-color: #1e83e1;
}

.enter_btn {
    text-decoration: none;
    display: block;
    cursor: pointer;
    display: fixed;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: #2999FF;
    border: solid 1px #2999FF;
    background-color: white;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}

.enter_btn:hover  {
    text-decoration: none;
    color: white;
    border: solid 1px white;
    background-color: #1e83e1;
}

