.fa-search {
    position: absolute;
    color: #9ca3af;
    top: 1px;
    left: 10px;
    z-index: 2000;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 20
}

.customized-search {
    text-indent: 45px;
}

.post-icon {
    position: fixed;
    color: black;
    bottom: 120px;
    right: 50px;
    font-size: 90px;
}

#popup {
    width: 70%;
    height: 70%;
    background: rgba(255, 255, 255, 20);
    opacity: 97%;
    border: 1px black solid;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: transform 1s, top 1s;
    z-index: 10000;
}

.open-popup {
    visibility: visible !important;
    transform: translate(50%, 50%);
}

.popup-post {
    width: 75%;
    height: 75%;
    margin-left: 10%;
    display: inline-block;
    background-color: #F2F2F2;
    border: none;
}

.popup-post::selection {
    background: #fbc308;
    color: black;
}

.closepost {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.submit {
    display: block;
    margin-right: 15%;
    border-radius: 20%;
    border: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
}

.upload {
    display: block;
    margin-left: 10%;
    border-radius: 20%;
    padding: 2px 10px;
    border: 1px solid black;
    cursor: pointer;
}

.community_name {
    font-size: large;
    font-weight: 700;
}