body {
    background-color: #F8F9F9;
}

#contact-form {
    font-size: 18px;
}
.fa-search {
    position: absolute;
    color: #9ca3af;
    top: 1px;
    left: 10px;
    z-index: 2000;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 20
}

.customized-search {
    text-indent: 45px;
}

.post-icon {
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 80px;
}

/* .post-icon2 {
    position: fixed;
    color: #00cbad;
    bottom: 120px;
    right: 50px;
    font-size: 90px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
} */


#popup {
    width: 90%;
    height: 80%;
    background: white;
    opacity: 97%;
    border: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: transform 1s, top 1s;
    z-index: 10000;
}

.open-popup {
    visibility: visible !important;
    transform: translate(50%, 50%);
}

.popup-post {
    width: 75%;
    height: 75%;
    margin-left: 10%;
    display: inline-block;
    background-color: #F2F2F2;
    border: none;
}

.popup-post::selection {
    background: #fbc308;
    color: black;
}

.closepost {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

/* .submit {
    display: block;
    margin-right: 15%;
    border-radius: 20%;
    border: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
} */

.submit_btn {
    display: block;
    margin-top: 15px;
    margin-right: 15%;
    margin-bottom: 20px;
    cursor: pointer;
    display: fixed;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: #fff;
    background-color: #2999FF;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
}

.submit_btn:hover {
    background-color: #1e83e1;
}


.upload {
    width: 75%;
    height: 75%;
    margin-left: 9%;
    display: inline-block;
    padding: 2px 10px;
    /* border-radius: 20%; */
    /* border: 1px solid black;
    cursor: pointer; */
}

.community_name {
    font-size: large;
    font-weight: 700;
}

#mypic-goes-here {
    display: block;
    margin-top: 20px;
    margin-left: 12%;
}

.bookmark {
    border: 1px solid grey;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

#bookmarks_icon_small {
    color: #ff8f29;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#discord-widget {
    width: 35%;
    height: 70px;
    float: right;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

#discord-widget:hover {
    height: auto;
}

.discord_btn {
    text-decoration: none;
    display: block;
    cursor: pointer;
    display: fixed;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #2999FF;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
}

.discord_btn:hover {
    text-decoration: none;
    color: white;
    background-color: #1e83e1;
}

/* .discord_btn {
    text-decoration: none;
    display: block;
    cursor: pointer;
    display: fixed;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: #2999FF;
    border: solid 1px #2999FF;
    background-color: white;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
}

.discord_btn:hover {
    text-decoration: none;
    color: white;
    border: solid 1px white;
    background-color: #1e83e1;
} */

@media only screen and (max-height: 1000px) {
    #popup {
        min-width: 90%;
        max-height: 80%;
    }
}

@media only screen and (min-width: 1800px) {
    .post-icon {
        position: fixed;
        bottom: 100px;
        right: 400px;
        width: 80px;
    }
}
