.fa-search {
    position: absolute;
    color: #9ca3af;
    top: 1px;
    left: 10px;
    z-index: 2000;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 20
}

.customized-search {
    text-indent: 45px;
}

.post-icon {
    position: fixed;
    color: black;
    bottom: 120px;
    right: 50px;
    font-size: 90px;
}