.fa-search {
    position: absolute;
    color: #9ca3af;
    top: 5px;
    left: 15px;
    z-index: 2000;
    font-size: 28px;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20
}

.customized-search {
    text-indent: 45px;
}

#home_icon {
    color: #ff8f29;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.area {
    font-weight: 700;
}