#subscribe_image {
    display: block;
    margin: auto;
    max-width: 60%;
    max-height: 300px;
    align-items: center;
    margin-bottom: 5px;
}



.header {
    padding: 20px;
    text-align: center;
}

#email {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 350px;
}

#subscribe {
    background-color: #f51115;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #1A659E;
    border-radius: 20px;
    display: block;
    margin: auto;
}

#subscribe:hover {
    background-color: white;
    color: #1A659E;
}

#notifications_icon {
    color: #ff8f29;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
  
#home_icon {
    color: #7A7A79;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
  