body {
    background-color: #F8F9F9;
}

main {
    margin: 0 10px 0 10px;
    margin-bottom: 100px;
}

h1 {
    margin-top: 30px;
    font-weight: 800;
    font-size: 2em;
    color: #00cbad;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.faq-heading{
    border-bottom: #777;
    padding: 20px 0px;
}

.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 0px;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    padding-right: 20px;
    margin-top: 20px;
}

.faq-body{
    margin: auto;
    width: 90%; 
}

.active,
.faq-page:hover {
    background-color: #f0f0f0;
}

.faq-body {
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
}

.active:after {
    content: "\2796";
}